<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title></title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

    <!-- Latest bootstrap compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>

    <!-- TeaVM liblary -->
    <script type="text/javascript" charset="utf-8" src="runtime.js"></script>

    <!-- TeaVM output javascript -->
    <script type="text/javascript" charset="utf-8" src="classes.js"></script>
</head>
<body onload="main()">

<div class="container theme-showcase" role="main">
    <div class="jumbotron">
        <h1>Hello, TeaVM</h1>

        <p>
        <ul>
            <li>
                JavaScript : Math.pow(2,64) => 18446744073709552000
            </li>
            <li>
                Java(TeaVM) : (new BigDecimal("2").pow(64)) => 18446744073709551616
            </li>
        </ul>
        </p>
    </div>

    <div>

        <div class="form-inline">
            <div class="input-group">
                <span class="input-group-addon">
                    base(底となる数):
                </span>
                <input type="text"
                       class="form-control"
                       id="base"/>
            </div>

            <div class="input-group">
                <span class="input-group-addon">
                    exponent(base を累乗する指数):
                </span>
                <input type="text"
                       class="form-control"
                       id="exponent"/>
            </div>

            <div class="input-group">
                =>
            </div>

            <div class="input-group">
                <span id="result">0</span>
            </div>
        </div>

    </div>
</div>
</body>
</html>